.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
}
.logo{
    width: 150px;
}

.navbar-items{
    font-size: 24px;
}

.navbar-items>ul{
    display: flex;
    list-style: none;
}

.navbar-items>ul>li{
    padding: 10px;
    margin: 10px;
}

.res-card{
    height: 450px;
    width: 200px;
    padding: 5px;
    
}

.filter-btn 
{
    margin: 10px;
    cursor: pointer;
}


.res-container{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.res-logo{
    width: 100%;
}

.res-container{
    padding: 10px;
}

.login{
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.search{
    margin: 2px;
    padding: 10px;
}


.search-box{
    margin: 2px;
    padding: 4px;
}
.user-card{
    padding: 10px;
    border: 1px solid black;
}